* {
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
}

body {
    height: 100%;
    background: #fff url(style/images/rohit-tandon-9wg5jCEPBsw-unsplash.jpg) 50% 50% no-repeat;
    background-size: cover;
}
